[submodule "legdbs"]
	path = legdbs
	url = https://github.com/Jacopo/legdbs/
[submodule "elf_add_code"]
	path = elf_add_code
	url = https://github.com/Jacopo/elf_add_code/
[submodule "inline-notlibc"]
	path = inline-notlibc
	url = https://github.com/Jacopo/inline-notlibc/
